.header__nav {
    height: 46px;
    display: flex;
    background-color: var(--black-color);
}

.header__nav__info {
    list-style: none;
    display: flex;
    padding-left: 10px;
    color: var(--white-color);
    align-items: center;
}

.header__nav__info-contact {
    margin: 0 10px 0 10px;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
}

.header__nav__info-contact--icon {
    color: var(--primary-color);
    margin-right: 5px;
}

.header__nav__social {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__nav__social-contact {
    text-decoration: none;
}

.header__nav__social-contact--icon {
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 0 10px;
}

.header__nav__social-contact--icon:hover {
    color: var(--primary-color);
}

.header__nav_language {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header__nav_language-contact {
    color: var(--white-color);
    text-decoration: none;
    background-color: #3abdc1;
    width: 140px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
}

.header__nav_language-contact--icon {
    margin-left: 4px;
    font-size: 1.3rem;
}

.header__nav_language__list {
    position: absolute;
    padding-left: 0;
    top: 46px;
    left: 0;
    height: 0%;
    overflow: hidden;
    background-color:  var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-out;
    z-index: 2;
}

.header__nav_language__list--item {
    list-style: none;
    padding-left: 40px;
}

.header__nav_language:hover .header__nav_language__list {
    height: 137px;
    /* display: block; */
}

.header__change__languge--text {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    position: relative;
    /* animation: showUp linear 0.3s; */
    margin: 15px 0;
    display: inline-block;
}

.header__change__languge--text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--white-color);
    height: 2px;
    transform-origin: left;
    transition: 0.3s ease-out;
}

.header__nav_language__list--item:hover .header__change__languge--text::after {
    width: 100%;
}

.header__nav__user-contact {
    height: 100%;
    width: 44px;
    background-color: #3fd0d4;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__nav__user-contact--icon {
    font-size: 2.5rem;
}

.header__nav__info-contact--text {
    color: var(--white-color);
    text-decoration: none;
}

/* Register / Login */
.auth-form {
    position: relative;
    width: 300px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    color: var(--white-color);
}

.auth-form__header {
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.auth-form__heading {
    font-size: 1.6rem;    
    background-color: #3abdc1;
    flex: 1;
    padding: 18px 0;
    font-weight: 600;
}

.auth-form__switch--btn {
    font-size: 1.6rem;
    flex: 1;
    padding: 18px 0;
    font-weight: 600;
}

.auth-form__text {
    margin: 30px;
}

.auth-form__text--contain {
    display: block;
    line-height: 2.2rem;
    margin-bottom: 15px;
}

.auth-form__wrap {
    margin: 0 30px;
}

.auth-form__wrap__input {
    display: flex;
    margin-bottom: 8px;
    background-color: #6fdcdf;
}

.auth-form__wrap__input--text {
    height: 36px;
    width: 100%;
    background-color: #6fdcdf;
    border: none;
    font-size: 1.3rem;
    outline: none;
    color: var(--white-color);
}

.auth-form--icon {
    color: var(--white-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.auth-form__footer {
    height: 40px;
    margin: 20px 30px;
}

.auth-form__footer--register {
    display: flex;
    cursor: pointer;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    background-color: var(--white-color);
}

.auth-form__footer--register:hover {
    background-color: #23a9af;
    transition: 0.3s ease-in;
}

.footer__bottom {
    height: 5px;
}

.auth-form__remember {
    cursor: pointer;
}

.auth-form__remember,
.auth-form__lost__pass,
.auth-form__footer-heading {
    margin: 20px 30px;
}

.auth-form__remember__radio--text {
    margin-left: 4px;
}

.auth-form__lost__pass--text {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.auth-form__lost__pass--text:hover {
    color: var(--black-color);
}

.auth-form__footer--login {
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.auth-form__footer--login:hover {
    background-color: #23a9af;
    transition: 0.3s ease-in;
}

.auth-form__footer-header {
    display: flex;
    height: 52px;
    cursor: pointer;
}

.auth-form__footer-header--face {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
}

.auth-form__footer-header--gg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dd4b39;
}

/* Header Container Navbar */
.header__container {
    height: 80px;
    background-color: var(--white-color);
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header__container--logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: default;
    width: 150px;
}

.header__container__logo--nav {
    width: 100%;
    cursor: pointer;
}

.header__container__menu {
    display: flex;
    align-items: center;
    height: 80px;
    /* justify-content: space-between */
}

.header__container__menu__bar {
    display: flex;
    height: 100%;
    margin-right: auto;
    width: 1164px;
    justify-content: center;
}

.header__container__menu__bar__list {
    display: flex;
    align-items: center;
    position: relative;
}

.header__container__menu__bar__list--text {
    position: relative;
    margin: 0 40px;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
}

.header__container__menu__bar__list--text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transform-origin: left;
    transition: 0.3s ease-out;
    background-color: var(--primary-color);
}

.header__container__menu__bar__list:hover .header__container__menu__bar__list--text::after {
    width: 100%;
}

.header__container__menu__bar__list:hover .header__container__menu__bar__list--text {
    color: var(--primary-color)
}

.submenu__bar {
    display: flex;
    position: absolute;
    top: calc(100% - 30px);
    width: 240px;
    /* background-color: var(--white-color); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform-origin: top;
    animation: scrollDown linear 0.3s;
    z-index: 2;
    display: none;
}

.submenu__bar__list {
    padding-left: 0;
    width: 100%;
    margin: 20px 0;
}

.header__container__menu__bar__list:hover .submenu__bar {
    display: block;
}

.submenu__bar__list--item {
    list-style: none;
    width: 100%;
    padding: 15px 0 0 40px;
}

.sub__bar__item--text {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.sub__bar__item--text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transform-origin: left;
    transition: 0.3s ease-out;
    background-color: var(--primary-color);
}

.submenu__bar__list--item:hover .sub__bar__item--text::before {
    width: 100%;
}

.header__container__icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__container__icon--list {
    position: relative;
    color: var(--text-color);
}

.header__contai__icon--item {
    margin-left: 15px;
    font-size: 2rem;
}

.header__contai__icon--item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__contai__cart {
    position: absolute;
    right: 0;
    top: 21px;
    width: 27rem;
    max-height: 220px;
    transform-origin: top;
    animation: scrollDown linear 0.3s;
    background-color: var(--white-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.header__container--cart:hover .header__contai__cart {
    display: block;
}

.header__contai__cart__list {
    list-style: none;
}

.header__contai__cart__list--item {
    font-size: 1.5rem;
}

.submenu__bar__element {
    position: absolute;
    left: 0;
    top: 80px;
    max-width: 1534px;
    margin: 0;
    border-style: 1px solid;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    transform-origin: top;
    animation: scrollDown linear 0.3s;
}

.submenu__bar__element--wrap {
    padding: 0 40px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2)
}























